@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

label{
    font-weight: 600;
    font-size: 1.25vw;
}
.NavBar{
    margin: 10px;
    background:#2a244a;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    color: white;
    height: 50px;
    align-items: center;
}
.TargetName{
    color: white;
    font-weight: bold;
    font-size: 1.75vw;
    display: flex;
    flex-direction: row;
}
.NavBarTarget{
    margin: 10px;
    background: rgb(204, 0, 0);
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    color: white;
    height: 65px;
    align-items: center;
}
.infoCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.infoAddress{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saurianTitle{
    /* font-size: 1.5vw; */
    font-size: min(max(16px, 4vw), 22px);
}
.inputBox {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px 10px;
    margin-right: 20px;
    color: black;
  }
.Home{
    margin: 10px;
    height: auto;
}
.About{
    margin: 10px;
    height: auto;
    display: flex;
    background: #282c34;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-height: 90vh;
    font-weight: 600;
}
.myInfo{
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.SaurianTranslator{
    margin: 10px;
    height: auto;

}
.TargetBetterPrice{
    margin: 10px;
    height: auto;
    
}

.Links{
    color: white;
}

.algo-app{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    font-size: 1.75vw;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
.algo-container{
    background-color: rgb(73, 76, 73);
    margin: 10px;
    height: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1500px;
    min-height: 70vh;
    padding: 10px;
}
.algo-list{
    background-color: purple;
    border-radius: 10px;
    width: 900px;
    margin: 10px;
    padding: 10px;

}
.sort-button{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.algo-results-container{
    display: flex;
    flex-direction: row;
}
.algo-results{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid transparent;
    color: black;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border-color: black;
    margin: 5px;
}
.algo-visualizer{
    background-color: #60732c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

span {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(#364bb2, #6b6876);
  color: white;
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}